*__pycache__
__pycache__/
*.py[cod]

.claude/
.codex
.vscode/
.DS_Store
._.DS_Store

.git-backup*/

logs/
log/
runs/
wandb/
outputs/
eval_outputs/
debug_vis/
demo_outputs/
demo_out
models
.multihmr
tmp_data

sam3/

*.log
*.pth
*.pt
*.ckpt
*.npy
*.npz
*.pkl

/cse_pseudo_vis*.png
/pca_debug.png
/test.png
/test_rgb.png

*.jpg
._*.jpg
